/*pagination container*/
.pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 2px 20px;
}

/*pagination button*/
.pagination button{
    color: #062948;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: normal;
    border-style: none;
    height: 27px;
    margin: 0 10px;
    width: 27px;
}

.pagination button.active{
    background-color: #062948;
    color: #f7f0f0;
    border-radius: 3px;
    font-weight: bold;
}