@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

.outerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #062948;
}

.innerContainer{
    width: 60%;
    padding: 50px 50px;
    margin: 120px 120px;
    background-color: #f7f0f0;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 10px;
    margin: 20px 20px;
    color: #002855;
    font-size: 45px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 10px;
    margin: 20px 15px;
    color: #002855;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    line-height: 50px;
}

.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 30px 30px 30px;
    margin: 20px 15px;
    color: #860E0E;
    font-size: 80px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Tangerine', cursive;
    text-align: center;
    line-height: 50px;
}