.form{
    display: flex;
    flex-direction: row;
}

.label{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;

}
.select{
    width: 750px;
    padding: 20px 40px;
    font-size: 25px;
    border-radius: 20px;
    border: 2px solid;
}
.input{
    width: 622px;
    padding: 20px 40px;
    font-size: 25px;
    border-radius: 20px;
}
.button{
    padding: 20px 20px;
    font-size: 25px;
    border-radius: 20px;
}

.box{
    background-image: url("../../assets/homepage-granaatappel-pexels-pixabay-65256 copy.jpg");
    background-size: cover;
    width: 48%;
    padding: 85px 70px;
    justify-content: space-between;
    border-radius: 5px;
    border: 4px solid #062948;
}

.whiteBox{
    width: 500px;
    height: 200px;
    background-color: #ECE3E7;
    border-radius: 7px;
    border: 3px solid #062948;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 45px;
    color: #062948;
    font-family: 'Inter', sans-serif;
}

.section{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: 20px 40px;
    padding: 100px 10px ;
    align-content: space-between;
}

.videoContainer{
    display: flex;
    flex-direction: row;
    background-color: #062948;
    height: 657px;
}